	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/components/Materialize/bin/materialize.css" rel="stylesheet">
	<link href="/components/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet"/>
	<link href="/stylesheets/style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
	<meta content='True' name='HandheldFriendly' />
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport' />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />