<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/components/moment/moment.js"></script>
<script type="text/javascript" src="/components/pickadate/lib/picker.js"></script>
<script type="text/javascript" src="/components/pickadate/lib/picker.date.js"></script>
<script type="text/javascript" src="/components/pickadate/lib/picker.time.js"></script>
<script type="text/javascript" src="/components/jquery-form-validator/form-validator/jquery.form-validator.min.js"></script>
<script type="text/javascript" src="/components/jquery.payment/lib/jquery.payment.min.js"></script>

<script type="text/javascript" src="/components/riot/riot.min.js"></script>
<!-- Pluralize Documentation : https://github.com/blakeembrey/pluralize -->
<script type="text/javascript" src="/components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="/components/flip/src/flip.js"></script>
<script type="text/javascript" src="/components/moment-duration-format/lib/moment-duration-format.js"></script>

<script type="text/javascript" src="/components/pluralize/pluralize.js"></script>
<script type="text/javascript" src="/components/Materialize/bin/materialize.js"></script>
<script type="text/javascript" src="/javascripts/helper.js"></script>
<script type="text/javascript" src="/javascripts/formValidate.js"></script>