<div class="loader row">
	<div class="col s12">
		<div class="pop">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<h5 id="msgText"></h5>
		</div>
	</div>
</div>

