<!-- Modal Structure -->
<div id="modal" class="modal">
	<div class="modal-content">
		<h4 id="modal-title"></h4>
		<p id="modal-message"></p>
	</div>
	<div class="modal-footer">
		<a class="noted-otp modal-action modal-close waves-effect waves-green btn-flat">Noted!</a>
	</div>
</div>

<div class="none" id="ErrorMessage"><%- messages.ErrorMessage %></div>