<form class="gap-top" name="form" id="formValidate" >
  <div class="overflow-form">
    <!-- Destination -->
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input placeholder="Where to go?" id="destination" name="destination" type="text" data-validation="validateForm">
        <label for="destination">YOUR DESTINATION</label>
        <input type="hidden" name="destinationCode" id="destinationCode" value="">
        <input type="hidden" name="countryCode" id="countryCode" value="">
        
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m12 l6">
        <label for="pick-up">CHOOSE PICK UP</label>
        <select name="pickup" id="pickup">
          <option value="A">Airport</option>
          <option value="S">Train Station</option>
          <option value="P">Port</option>
          <option value="H">Hotel/Apartment</option>
        </select>
      </div>

      <div class="input-field col s12 m12 l6">
      <label for="pick-up">CHOOSE DROP OFF</label>
        <select name="dropoff" id="dropoff">
          <option value="A">Airport</option>
          <option value="S">Train Station</option>
          <option value="P">Port</option>
          <option selected value="H">Hotel/Apartment</option>
        </select>
      </div>
    </div>
    <input type="hidden" name="airportCode" value=""/>
    <!-- Airport List -->
    <!--<div class="row none" id="listairport">
      <div class="input-field col s12 m12 l12">
        <label for="listairport">AIRPORT LIST</label>
        <i class="material-icons right error-tag tooltipped" id="destinationToolTip" data-position="top" data-tooltip="">error</i>
        <select name="airportCode" id="airportCode">
          <option value=""></option>
        </select>
        <h6>
          <div id='airporstListMessage'>No airport options</div>
          <div id="airportsListProgress" class="progress none">
            <div class="indeterminate"></div>
          </div>
        </h6>

      </div>
    </div>-->
    <div class="row">
      <div class="input-field col s12 m12 l6">
        <label for="pick-up">PASSENGERS</label>
        <!--      <input id="numberOfPassengers" min="1" max="9" value="1" type="number" name="numberOfPassengers"> -->
        <select id="numberOfPassengers" name="numberOfPassengers" id="dropoff">
          <option value="1">1 Passenger</option>
          <option value="2">2 Passengers</option>
          <option value="3">3 Passengers</option>
          <option value="4">4 Passengers</option>
          <option value="5">5 Passengers</option>
          <option value="6">6 Passengers</option>
          <option value="7">7 Passengers</option>
          <option value="8">8 Passengers</option>
          <option value="9">9 Passengers</option>

        </select>
      </div>
    </div>

    <div class="row">
      <!-- Check in -->
      <div class="input-field col s6">
        <input placeholder="When you go?" id="checkin" name="checkin"  type="date" class="datepicker">
        <label for="checkin">CHOOSE DEPARTURE DATE</label>
      </div>


      <!-- <div class="input-field col s6">
        <input placeholder="" id="checkout" name="checkout" type="text" class="timepicker">
        <label for="checkout">CHOOSE TIME</label>
      </div> -->
    </div>
    <div class="row">
      <!-- Check out -->
      <p class="col s12">
        <input type="checkbox" id="chkReturn" />
        <label for="chkReturn">With Return ?</label>
      </p>
      <div class="input-field col s6">
        <input id="returnStatus" name="return" type="hidden" value="n">
        <input disabled id="checkout" placeholder=""  name="checkout" type="date" class="datepicker">
        <label for="checkout">CHOOSE RETURN DATE</label>
      </div>
      <!-- Time -->
    </div>
  </div>
  <div class="row refindSearch">
    <div class="col s12 m12 l12 find-home">
      <button type="submit" class="btnSearchTransfer waves-effect waves-light btn prevent">search transfer</button>
    </div>
  </div> 

</form>