<html style="overflow: hidden;">
<head>
	<title>UOB Travel</title>
	<!-- default stylesheets -->
	<%- include(basedir+'/module/css') %>
	<!-- end default stylesheets -->
</head>
<%- include(basedir+'/module/loaders') %>
<%- include(basedir+'/module/modals') %>
<body>
	<%- messages.info %>
	<div class="content">
		<h2>Base Node JS</h2>
		<h5>Eduardus Aldo K.</h5>
	</div>
</body>
<!-- Default Javascript -->
<%- include(basedir+'/module/js') %>
<!-- End Default Javascript -->
<!-- Page Javascript -->
<script type="text/javascript">

</script>
<script type="text/javascript" src="/javascripts/homes.js"></script>
<!-- End Page Javascript -->
</html>
