<html style="overflow: hidden;">
<head>
    <%- include(basedir+'/module/css') %>
	<title>UOB Travel</title>
	<!-- default stylesheets -->
	<!-- end default stylesheets -->
</head>

<body id="error">
    <center>
        <i class="material-icons">error_outline</i>
        <h2>Page you're looking is not found, go to <a href="/transfer">Homepage</a></h2>
        <h2>or</h2>
        <h2 id="messageError"></h2>
    </center>
</body>
<!-- Default Javascript -->
<%- include(basedir+'/module/js') %>
<!-- End Default Javascript -->
<!-- Page Javascript -->
<script type="text/javascript">
$("#messageError").html(init.contactService);
</script>
<!-- End Page Javascript -->
</html>
