/*
==== Location : COMPONENT --> _GLOBAL ==== 
==== Description : Global components use for global tag like (div,body,html,table and etc) ====
*/
* {
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100000;
  display: none; }
  .loader .col {
    text-align: center;
    height: 100%; }
    .loader .col .pop {
      margin-top: 18%;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px; }
      .loader .col .pop .spinner {
        border-color: #E1091D; }
      .loader .col .pop h5 {
        color: #FFF;
        font-size: 30px; }

.content {
  padding: 20px; }

/*
==== Location : COMPONENT --> MODULE ==== 
==== Description : Use it for all component like badge, loader, every class or id, **dont use it for component placed on footer,nav or header** ====
*/
/*
==== Location : LAYOUTS --> _NAV ==== 
==== Description : Use it for all navigation link ====
*/
/*
==== Location : LAYOUTS --> HEADER ==== 
==== Description : Use it for all header like logo, everything placed on header ====
*/
/*
==== Location : LAYOUTS --> FOOTER ==== 
==== Description : Use it for all footer like term condition, everything placed on footer ====
*/
/*
==== Location : PAGES --> HOMES ==== 
==== Description : Use only css on homes ====
*/

/*# sourceMappingURL=style.css.map */
