*{
	font-family: $font-family;
	// font-size: $font-size;
	font-weight: $font-weight;
}
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 100000;
	display: none;
	.col {
		text-align: center;
		height: 100%;
		.pop {
		margin-top: 18%;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		.spinner{
			border-color: $primary-background-color; 
		}
		h5 {
			color: #FFF;
			font-size: 30px;
		}
		}
	}
}
.content{
	padding: 20px;
}